<html>
<head>
    <title> "employee "</title>
</head>

<body>

{% if product %}


<table class="table" style="width:100%">
  <thead>
    <tr>
      <th scope="col">product code</th>
      <th scope="col"> product name </th>
      <th scope="col"> buy price </th>
    </tr>
  </thead>
  <tbody>

  {% for data in product %}

      <tr>
      <th scope="row">{{ data.productcode }}</th>
      <td>{{ data.productname }}</td>
      <td>{{ data.buyprice }}</td>
    </tr>

  {% endfor %}

  </tbody>
</table>


{% endif %}


{% if employees %}


<table class="table" style="width:100%">
  <thead>
    <tr>
      <th scope="col">employee number</th>
      <th scope="col"> employee name </th>
      <th scope="col"> job title </th>
    </tr>
  </thead>
  <tbody>

  {% for data in employees %}

      <tr>
      <th scope="row">{{ data.employeenumber }}</th>
          <td> <p>{{ data.firstname }} {{ data.lastname }}</p> </td>
      <td>{{ data.jobtitle }}</td>
    </tr>

  {% endfor %}

  </tbody>
</table>


{% endif %}

</body>

</html>